<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
			{% stylesheets '@ItsurAeiBundle/Resources/public/css/master.css'%}
			   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		   {% endstylesheets%}
		   
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
       
	 
		
    </head>
    <body>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
   
    </body>
</html>