{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Configuraciones
{% endblock %}

{% block body %}
     <h1>Cambiar configuraciones</h1>

	 <form action="{{ path('configuracion_cambiar') }}" method="post" {{ form_enctype(form) }}>
       {{ form_widget(form) }}

       <input type="submit" value="Guardar" />
    </form>

{% endblock %}
