{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Nuevo Periodo
{% endblock %}

{% block body %}
    <form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>
       {{ form_widget(form) }}

       <input type="submit" />
    </form>

{% endblock %}
