{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Actualizar Periodo
{% endblock %}

{% block body %}
    <form action="{{ path('periodo_update',{ 'id':form.vars.value.id} ) }}" method="post" {{ form_enctype(form) }}>
       {{ form_widget(form) }}
        <input type="submit" />
    </form>

{% endblock %}
