
/* menu::base */
div#menu {
    height:41px;
    width: 100%;
  /*  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5FB404), to(#0B610B));
    background: -moz-linear-gradient(top, #5FB404, #0B610B);*/
   box-shadow:0px 0px 2px #454145;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;

}
div#menu ul.menu {
    padding-left: auto;

}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 42px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 15px Trebuchet MS;
    text-shadow: 1px 1px 0px rgb(240,240,240);

}
div#menu a:hover, div#menu a:hover span { color: rgb(200,200,200); }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;

}
div#menu ul ul a.parent:hover span {

}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: rgb(0,0,0);
}
div#menu span {
    margin-top: 5px;
}/**@replace#1*/
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    margin-top:4px;
    box-shadow:0px 2px 3px #454145;

}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(0,0,0);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(0,0,0);
}
div#menu ul ul a:hover span {
    color: rgb(200,200,200);
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 165.5px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc); }
div#menu ul ul ul ul { 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);}
div#menu ul ul ul ul { 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc); }

/* lava lamp */
div#menu li.back {

    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    height: 44px;
    margin-right: 8px;
}

